body {
    font-family: "Sunshiney", cursive;
    letter-spacing: 4px;
    font-size: 1.3rem;
    background-image: linear-gradient(yellow, red);
    margin: 15px 35px 45px 35px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: left;
        font-size: 1.3rem;
}
p {
    font-size: 1.3rem;
}
#pic1 {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    border: 2px red solid;
    outline: 2px black solid;
}
#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10 {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px red solid;
    outline: 2px black solid;
}
/* FIRST SUBMIT BTN PRACTICE PROBLEM #1 */
#myBtn, #myBtn2 {
    width: 20%;
    height: auto;
    margin: 15px 40% 15px 40%;
    font-size: 1rem;
    font-family: "Sunshiney", cursive;
    letter-spacing: 3px;
    border: 2px red solid;
    outline: 2px white solid;
    padding: 5px;
}
#demo, #demo2, #demo3 {
    width: 20%;
    height: 40px;
    font-size: 1.5rem;
    font-family: "Sunshiney", cursive;
    letter-spacing: 3px;
    border: 2px red solid;
    outline: 2px white solid;
    background-color: white;
    color: black;
    text-align: center;
    margin: 15px 40% 15px 40%;
    padding-bottom: 6px;
}
footer { 
    text-align: center;
    font-size: 1rem;
}